/* Portrait tablet and small desktops */
@media (max-width: 960px) {
    // Home page

    .homeHeader{
        height: 600px;

        .headerImg {
            top: 300px;
        }
    }

    .about {
        padding: 250px 0;
    }

    .readMore {
        .newAdditions {
            padding-top: 200px;
        }

        .newAdditions,
        .meetRealNemo {
            width: 40%;
        }
    }

    .moreInfo {
        .moreInfoContainer {
            h4 {
                text-align: center;
            }

            i {
                left: 0px;
            }
        }
    }

    .thisMonthProfileContainer {
        img {
            width: 30%;
        }

        .thisMonthProfileText {
            width: 70%;
        }
    }

    .gallery {
        img {
            max-width: 30%;
        }
    }

    // Blog page

    .blogHeader {
        height: 500px;

        h2 {
            margin-top: 100px;
        }
    }

    .blogPosts {
        .leftBlogSide {
            padding: 250px 40px 30px 20px;
            width: 40%;
        }

        .rightBlogSide {
            width: 60%;

            .discoveringNewSpecies {
                padding: 200px 0 30px 40px;
                margin-left: 5px;
            }
        }

        .comments {
            margin: 50px 0 100px 20px;
        }

        .rightBlogSide {
            form {
                margin-left: 0px;
                width: 100%;
            }
        }
    }

    // Contact page

    .contactHeader {
        height: 500px;

        h2 {
            margin-top: 100px;
        }
    }

    .social {
        .contactForm {
            top: -100px;
            right: 50px;
            width: 50%;
            padding: 40px;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 790px) {
    html {
        font-size: 100%;
    }
    
    // Home page

    .homeHeader{
        height: 500px;

        .headerImg {
            top: 250px;
        }
    }

    .about {
        padding: 200px 0;
    }

    .readMore {
        .newAdditions {
            padding-top: 150px;
        }

        .newAdditions,
        .meetRealNemo {
            width: 45%;
        }
    }

    .thisMonthProfileContainer {
        img {
            width: 35%;
        }

        .thisMonthProfileText {
            width: 65%;
        }
    }

    // Blog page

    .blogHeader {
        height: 400px;

        h2 {
            margin-top: 50px;
        }
    }

    .blogPosts {
        .leftBlogSide {
            padding: 150px 40px 30px 20px;
            width: 40%;
        }

        .rightBlogSide {
            width: 60%;

            .discoveringNewSpecies {
                padding: 100px 0 30px 40px;
                margin-left: 5px;

                img {
                top: -150px;
                box-shadow: -50px 50px 0 -17px $tertiary;
                }
            }
        }

        .comments {
            margin: 50px 0 100px 0px;
        }
    }

    // Contact page

    .contactHeader {
        height: 400px;

        h2 {
            margin-top: 50px;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .wrapper {
        width: 95%;
    }

    button {
            width: 100%;
        }

    // Nav pop out

    nav {
        ul {
            flex-direction: column;
            justify-content: center;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.95);
            border: 5px solid $secondary;
            width: 85%;
            left: 40px;
            top: -400px;
            z-index: 20;
            transition: 0.5s;

            a {
                font-size: 2rem;
                margin: 0;
                padding: 20px 0;
            }
        }

        label {
            display: inline-block;
            font-size: 2rem;
            height: 60px;
            width: 30px;
            padding-top: 10px;
            cursor: pointer;
        }
        
        input[type=checkbox] {
        opacity: 0;
        position: absolute;

        &:checked ~ ul {
                top: 20px;
            }
        }
        
    }
    
    // Home page

    .homeHeader{
        height: 400px;

        h1 {
            margin: 0;
        }
    }

    .about {
        padding: 100px 0;
    }

    .readMore {
        .newAdditions {
            padding-top: 100px;
        }
    }

    .moreInfo {
        .moreInfoContainer {
            i {
                display: none;
            }

            h4 {
                text-align: start;
            }
        }
    }

    .thisMonthProfileContainer {
        flex-direction: column;

        img {
            width: 70%;
            margin: 0 auto;
        }

        .thisMonthProfileText {
            margin-top: 50px;
            width: 100%;
        }
    }

    .gallery {
        padding: 50px 0;

        img {
            max-width: 90%;
            margin: 10px 0;
        }

        .galleryContainer {
            flex-direction: column;
        }
    }

    // Blog page

    .blogHeader {
        height: 300px;
    }

    .blogPosts {
        padding: 100px 0;

        .blogPostsContainer {
            flex-direction: column;
        }

        .leftBlogSide {
            padding: 5px;
            width: 100%;

            img {
                position: relative;
                top: 0;
                width: 100%;
            }
        }

        .rightBlogSide {
            width: 100%;
            margin-top: 100px;

            .discoveringNewSpecies {
                padding: 5px;
                margin-left: 0;

                img {
                    position: relative;
                    top: -70px;
                    width: 100%;
                    margin-bottom: 50px;
                    box-shadow: -20px 50px 0 -10px $tertiary;
                }
            }
        }

        .comments {
            margin: 50px 0 100px 0px;
        }
    }

    // Contact page

    .contactHeader {
        height: 300px;
    }

    .social {
        padding: 100px 0;

        .socialIcons,
        .contactEmail,
        .contactInfo {
            text-align: center;
        }

        .contactForm {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            padding: 20px;
            margin-top: 100px;
        }
    }
}