// Site fonts

// font-family: 'Barlow', sans-serif; font-family: 'Lato', sans-serif;

$headingFont: "Barlow";
$bodyFont: "Lato";

// Site colours

// COLOURS:
// Primary background: #0f614e
// Secondary background: #0c1423
// Box-shadings and footer: #86e0f9
// Text: #ffffff

$primary: #0c1423;
$secondary: #0f614e;
$tertiary: #86e0f9;
$bodyText: #ffffff;