html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-family: "Barlow";
  color: #ffffff;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

p {
  text-transform: none;
  opacity: 0.8;
}

nav {
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button {
  font-family: "Barlow";
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #0c1423;
}

img {
  display: block;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul a {
  display: inline-block;
  margin: 20px 0 20px 20px;
  padding: 20px 0 20px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
nav ul a:hover, nav ul a:focus {
  color: #86e0f9;
}

.burgerIcon,
.mobileNav {
  display: none;
}

.homeHeader {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../assets/header-image.jpg);
  background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/header-image.jpg);
  background-size: cover;
  height: 900px;
}
.homeHeader h1 span {
  display: block;
}
.homeHeader .headerImg {
  position: absolute;
  right: 0;
  top: 220px;
  width: 55%;
}
.homeHeader .headerImg img {
  width: 100%;
  z-index: 10;
}

.blogHeader {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 700px;
}
.blogHeader h2 {
  text-align: center;
  margin-top: 170px;
}

.contactHeader {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  height: 700px;
}
.contactHeader h2 {
  text-align: center;
  margin-top: 170px;
}

footer {
  background-color: #86e0f9;
  font-size: 0.8rem;
  color: #0c1423;
  text-align: center;
}

.about {
  padding: 275px 0;
  text-align: center;
}
.about p {
  text-align: left;
  margin: 50px 0;
}
.about button {
  background-color: #86e0f9;
  color: #0c1423;
  padding: 15px 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about button:hover, .about button:focus {
  background-color: #0f614e;
  color: #ffffff;
  cursor: pointer;
}

.readMore {
  position: relative;
  background-color: #0f614e;
  padding: 50px 0;
}
.readMore .readMoreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.readMore .newAdditions,
.readMore .meetRealNemo {
  width: 35%;
}
.readMore .newAdditions p,
.readMore .meetRealNemo p {
  margin: 30px 0;
}
.readMore .newAdditions button,
.readMore .meetRealNemo button {
  background-color: #0c1423;
  color: #ffffff;
  padding: 10px 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.readMore .newAdditions button:hover, .readMore .newAdditions button:focus,
.readMore .meetRealNemo button:hover,
.readMore .meetRealNemo button:focus {
  background-color: #86e0f9;
  color: #0c1423;
  cursor: pointer;
}
.readMore .newAdditions {
  text-align: right;
  padding-top: 500px;
}
.readMore .newAdditions img {
  position: absolute;
  top: -50px;
  left: 0;
  -webkit-box-shadow: 40px 40px 0 -10px #86e0f9;
          box-shadow: 40px 40px 0 -10px #86e0f9;
  width: 40%;
  z-index: 10;
}
.readMore .meetRealNemo img {
  position: absolute;
  bottom: -50px;
  right: 0;
  -webkit-box-shadow: -40px 40px 0 -10px #86e0f9;
          box-shadow: -40px 40px 0 -10px #86e0f9;
  width: 40%;
  z-index: 10;
}

.moreInfo {
  padding: 100px 0;
}
.moreInfo .moreInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.moreInfo .moreInfoContainer div {
  position: relative;
  width: 45%;
}
.moreInfo .moreInfoContainer h4 {
  margin: 55px 0 25px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.moreInfo .moreInfoContainer h4:hover, .moreInfo .moreInfoContainer h4:focus {
  color: #0f614e;
}
.moreInfo .moreInfoContainer i {
  position: absolute;
  left: -80px;
  top: 45px;
  font-size: 1.5rem;
  background-color: #86e0f9;
  color: #0c1423;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.thisMonthProfile img {
  width: 100%;
  z-index: 10;
}
.thisMonthProfile .thisMonthProfileContainer {
  padding: 150px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thisMonthProfile .thisMonthProfileContainer img {
  -webkit-box-shadow: 35px 35px 0 0 #86e0f9;
          box-shadow: 35px 35px 0 0 #86e0f9;
  margin-right: 100px;
  z-index: 10;
}
.thisMonthProfile .thisMonthProfileContainer p {
  margin: 25px 0 50px 0;
}
.thisMonthProfile .thisMonthProfileContainer button {
  background-color: #86e0f9;
  color: #0c1423;
  padding: 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.thisMonthProfile .thisMonthProfileContainer button:hover, .thisMonthProfile .thisMonthProfileContainer button:focus {
  background-color: #0f614e;
  color: #ffffff;
  cursor: pointer;
}

.gallery {
  background-color: #0f614e;
  padding: 100px 0;
}
.gallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPosts {
  position: relative;
  padding: 150px 0;
}
.blogPosts .blogPostsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPosts .leftBlogSide {
  width: 35%;
  height: 100%;
  padding: 550px 40px 30px 20px;
  background-color: #0f614e;
}
.blogPosts .leftBlogSide h4 {
  margin: 60px 0 30px 0;
}
.blogPosts .leftBlogSide li {
  list-style: inside;
  text-transform: none;
  opacity: 0.8;
  line-height: 1.6rem;
}
.blogPosts .leftBlogSide img {
  position: absolute;
  top: 100px;
  left: 0;
  width: 39%;
  z-index: 10;
}
.blogPosts .rightBlogSide {
  width: 65%;
}
.blogPosts .rightBlogSide .discoveringNewSpecies {
  padding: 500px 0 30px 40px;
  margin-left: 70px;
  border-left: 5px solid #86e0f9;
  border-bottom: 5px solid #86e0f9;
}
.blogPosts .rightBlogSide .discoveringNewSpecies p:nth-child(3) {
  margin: 20px 0 60px 0;
}
.blogPosts .rightBlogSide .discoveringNewSpecies img {
  position: absolute;
  top: -200px;
  right: 0;
  width: 54%;
  -webkit-box-shadow: -50px 50px 0 -8px #86e0f9;
          box-shadow: -50px 50px 0 -8px #86e0f9;
}

.comments {
  margin: 50px 0 100px 100px;
}
.comments .firstComment,
.comments .secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments .firstComment .commentImg,
.comments .secondComment .commentImg {
  margin: 50px 50px 50px 0;
}
.comments .firstComment .firstCommentText p:nth-child(1),
.comments .firstComment .secondCommentText p:nth-child(1),
.comments .secondComment .firstCommentText p:nth-child(1),
.comments .secondComment .secondCommentText p:nth-child(1) {
  margin: 45px 0 10px 0;
}

.social {
  position: relative;
  padding: 200px 0;
}
.social a {
  font-size: 1.5rem;
  margin-right: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.social a:hover, .social a:focus {
  color: #86e0f9;
}
.social .contactEmail {
  margin: 30px 0;
}
.social .contactForm {
  position: absolute;
  top: -300px;
  right: 250px;
  background-color: #0f614e;
  width: 50%;
  padding: 80px;
  -webkit-box-shadow: -50px 50px 0 -10px #86e0f9;
          box-shadow: -50px 50px 0 -10px #86e0f9;
}

form {
  width: 100%;
}
form textarea,
form input {
  padding: 20px;
  background-color: transparent;
  color: #ffffff;
  line-height: 1.6rem;
  border: none;
}
form textarea::-webkit-input-placeholder, form input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.8;
}
form textarea::-moz-placeholder, form input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.8;
}
form textarea:-ms-input-placeholder, form input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.8;
}
form textarea::-ms-input-placeholder, form input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.8;
}
form textarea::placeholder,
form input::placeholder {
  color: #ffffff;
  opacity: 0.8;
}
form textarea {
  width: 100%;
  border: 3px solid #86e0f9;
}
form label,
form input {
  display: block;
  border-bottom: 3px solid #86e0f9;
}
form button {
  width: 100%;
  padding: 10px 0;
  margin-top: 50px;
  color: #ffffff;
}
form .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
form .formContainer input {
  width: 100%;
  height: 100%;
}
form .nameContainer {
  width: 45%;
}
form .emailContainer {
  width: 45%;
}

.rightBlogSide form {
  margin-left: 50px;
  width: calc(100% - 50px);
}
.rightBlogSide button {
  background-color: #0f614e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.rightBlogSide button:hover, .rightBlogSide button:focus {
  background-color: #86e0f9;
  color: #0c1423;
  cursor: pointer;
}

.social button {
  background-color: #0c1423;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.social button:hover, .social button:focus {
  background-color: #86e0f9;
  color: #0c1423;
  cursor: pointer;
}

/* Portrait tablet and small desktops */
@media (max-width: 960px) {
  .homeHeader {
    height: 600px;
  }
  .homeHeader .headerImg {
    top: 300px;
  }

  .about {
    padding: 250px 0;
  }

  .readMore .newAdditions {
    padding-top: 200px;
  }
  .readMore .newAdditions,
.readMore .meetRealNemo {
    width: 40%;
  }

  .moreInfo .moreInfoContainer h4 {
    text-align: center;
  }
  .moreInfo .moreInfoContainer i {
    left: 0px;
  }

  .thisMonthProfileContainer img {
    width: 30%;
  }
  .thisMonthProfileContainer .thisMonthProfileText {
    width: 70%;
  }

  .gallery img {
    max-width: 30%;
  }

  .blogHeader {
    height: 500px;
  }
  .blogHeader h2 {
    margin-top: 100px;
  }

  .blogPosts .leftBlogSide {
    padding: 250px 40px 30px 20px;
    width: 40%;
  }
  .blogPosts .rightBlogSide {
    width: 60%;
  }
  .blogPosts .rightBlogSide .discoveringNewSpecies {
    padding: 200px 0 30px 40px;
    margin-left: 5px;
  }
  .blogPosts .comments {
    margin: 50px 0 100px 20px;
  }
  .blogPosts .rightBlogSide form {
    margin-left: 0px;
    width: 100%;
  }

  .contactHeader {
    height: 500px;
  }
  .contactHeader h2 {
    margin-top: 100px;
  }

  .social .contactForm {
    top: -100px;
    right: 50px;
    width: 50%;
    padding: 40px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 790px) {
  html {
    font-size: 100%;
  }

  .homeHeader {
    height: 500px;
  }
  .homeHeader .headerImg {
    top: 250px;
  }

  .about {
    padding: 200px 0;
  }

  .readMore .newAdditions {
    padding-top: 150px;
  }
  .readMore .newAdditions,
.readMore .meetRealNemo {
    width: 45%;
  }

  .thisMonthProfileContainer img {
    width: 35%;
  }
  .thisMonthProfileContainer .thisMonthProfileText {
    width: 65%;
  }

  .blogHeader {
    height: 400px;
  }
  .blogHeader h2 {
    margin-top: 50px;
  }

  .blogPosts .leftBlogSide {
    padding: 150px 40px 30px 20px;
    width: 40%;
  }
  .blogPosts .rightBlogSide {
    width: 60%;
  }
  .blogPosts .rightBlogSide .discoveringNewSpecies {
    padding: 100px 0 30px 40px;
    margin-left: 5px;
  }
  .blogPosts .rightBlogSide .discoveringNewSpecies img {
    top: -150px;
    -webkit-box-shadow: -50px 50px 0 -17px #86e0f9;
            box-shadow: -50px 50px 0 -17px #86e0f9;
  }
  .blogPosts .comments {
    margin: 50px 0 100px 0px;
  }

  .contactHeader {
    height: 400px;
  }
  .contactHeader h2 {
    margin-top: 50px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }

  button {
    width: 100%;
  }

  header {
    padding-top: 20px;
  }

  .standardNav {
    display: none;
  }

  .burgerIcon {
    position: relative;
    display: block;
    width: 35px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 30;
  }
  .burgerIcon .navBar, .burgerIcon:before, .burgerIcon:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .burgerIcon.active:before {
    -webkit-transform: rotate(45deg) translate(6px, 7px);
            transform: rotate(45deg) translate(6px, 7px);
  }
  .burgerIcon.active:after {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
            transform: rotate(-45deg) translate(7px, -8px);
  }
  .burgerIcon.active .navBar {
    opacity: 0;
  }

  .mobileNav {
    display: block;
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: #0f614e;
    z-index: 20;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .mobileNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
  .mobileNav li {
    width: 100%;
    text-align: center;
  }
  .mobileNav a {
    font-size: 2rem;
    margin: 0 auto;
    padding: 30px;
    width: 100%;
  }
  .mobileNav a:hover, .mobileNav a:focus {
    background-color: #0c1423;
  }

  .mobileNav.active {
    top: 0;
  }

  .homeHeader {
    height: 400px;
  }
  .homeHeader h1 {
    margin: 0;
  }

  .about {
    padding: 100px 0;
  }

  .readMore .newAdditions {
    padding-top: 100px;
  }

  .moreInfo .moreInfoContainer i {
    display: none;
  }
  .moreInfo .moreInfoContainer h4 {
    text-align: start;
  }

  .thisMonthProfileContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thisMonthProfileContainer img {
    width: 70%;
    margin: 0 auto;
  }
  .thisMonthProfileContainer .thisMonthProfileText {
    margin-top: 50px;
    width: 100%;
  }

  .gallery {
    padding: 50px 0;
  }
  .gallery img {
    max-width: 90%;
    margin: 10px 0;
  }
  .gallery .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blogHeader {
    height: 300px;
  }

  .blogPosts {
    padding: 100px 0;
  }
  .blogPosts .blogPostsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPosts .leftBlogSide {
    padding: 5px;
    width: 100%;
  }
  .blogPosts .leftBlogSide img {
    position: relative;
    top: 0;
    width: 100%;
  }
  .blogPosts .rightBlogSide {
    width: 100%;
    margin-top: 100px;
  }
  .blogPosts .rightBlogSide .discoveringNewSpecies {
    padding: 5px;
    margin-left: 0;
  }
  .blogPosts .rightBlogSide .discoveringNewSpecies img {
    position: relative;
    top: -70px;
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-shadow: -20px 50px 0 -10px #86e0f9;
            box-shadow: -20px 50px 0 -10px #86e0f9;
  }
  .blogPosts .comments {
    margin: 50px 0 100px 0px;
  }

  .contactHeader {
    height: 300px;
  }

  .social {
    padding: 100px 0;
  }
  .social .socialIcons,
.social .contactEmail,
.social .contactInfo {
    text-align: center;
  }
  .social .contactForm {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    margin-top: 100px;
  }
}